<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Erros</title>
</head>
<body>
<form action="/">
            <button id="back_2" type="submit" class="btn btn-secondary">< Voltar</button>
        </form>
    {% for erro in erros %}
        <h4 class="display-4">{{erro[1]}}: {{erro[0]}}</h4>
    {% endfor %}
</body>
</html>