<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Indicium Challenge</title>
</head>
<body>
    <div class="container">
        <h3 class="display-3">Indicium Challenge</h3>
        <form action="output_1/">
            <button type="submit" class="btn btn-primary">Primeiro Output</button>
        </form>
        
        <form action="output_2/">
            <button type="submit" class="btn btn-primary">Segundo Output</button>
        </form>

        <form action="readme/">
            <button type="submit" class="btn btn-secondary">README!</button>
        </form>

        <form action="errors/">
            <button type="submit" class="btn btn-danger">Erros Contablizados</button>
        </form>
    </div>
    
    
</body>
</html>